{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "babel-plugin-transform-imports",
    "@babel/plugin-syntax-dynamic-import",
    "transform-react-remove-prop-types"
  ],
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "exclude": ["@babel/plugin-proposal-dynamic-import"],
        "targets": {
          "browsers": [">0.5%, ie 11, not op_mini all"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
